/** Reset padding, margin **/
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/** Default element styling **/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.stocks-container>h1 {
  font-size: 1.75em;
  font-weight: bold;
}

.stocks-container h3 {
  font-size: 1.25em;
}

/** Common Classes **/
.m-t-5 {
  margin-top: 5%;
}

.m-b-5 {
  margin-bottom: 5%;
}

/** List Group **/
.stocks-container .list-group-item {
  font-size: 1em;
  z-index: 0;
}

.stocks-container .list-group-item:not(:first-child):hover {
  background-color: rgba(0, 125, 255, 0.65);
  border-color: rgba(0, 125, 255, 0.65);
  color: #fff;
}

/** Line Chart SVG **/
.chart {
  margin: 5% 0;
}

.chart>svg {
  background-color: #f1f1f1;
  opacity: 0.9;
}

/** For large screen devices **/
@media all and (min-width: 950px) {
  /** Line Chart SVG **/
  .chart {
    margin: 0 0 5% 0;
  }

  .stocks-container>h1 {
    font-size: 2.5em;
  }

  .stocks-container h3, 
  .stocks-container .list-group-item  {
    font-size: 1em;
  }

}
